.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.table-card {
  padding: 10px;
}

table {
  width: 100%;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
